Animal Details
<a href="/fav"><button id="fav" class="btn btn-primary float-right">Favs</button></a>
<a href="/"><button id="home" class="btn btn-primary float-right">Home</button></a>
<a href="/login"><button id="login" class="btn btn-primary float-right">Login</button></a>
<a href="/register"><button id="reg" class="btn btn-primary float-right">Register</button></a>
<a href="/detail"><button id="reg" class="btn btn-primary float-right">Detail</button></a>
<a href="/api/user"><button id="reg" class="btn btn-primary float-right">User API</button></a>