Fav Page

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <p>
                        <strong>ID</strong>: {{Fav.id}}</p>
                    <p>
                    <p>
                        <strong>Fav</strong>: {{Fav.username}}</p>
                    <p>
                    <p>
                        <strong>Pet Id</strong>: {{Fav.petid}}</p>
                    <p>
                        <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

