<<<<<<< HEAD
<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">This is our pet adoption site!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <ul class="list-unstyled">
                <li><a href="/" class="text-white">Home</a></li>
                <li><a href="/login" class="text-white">Login</a></li>
                <li><a href="/register" class="text-white">Register</a></li>
                <li><a href="/detail" class="text-white">Detail</a></li>
                <li><a href="/favs" class="text-white">Favorites</a></li>
=======
Login Page <br><br>
<p>{{message}}</p>
>>>>>>> a64af221285a2ce81ad41e5e1eec1151aa87048c

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Welcome!</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
</header>

    <main role="main">
        <div class="container-fluid">
        <form class="login clearfix mb-4" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Enter username" name="username" required>
            </div>
            <div class= "form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter password" name="password" required>
                <br>
                <button type="logsubmit" class="btn btn-dark float-left">Submit</button>
            </div>
        </form>
        </div>
    </main>
