Login Page
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form class="login clearfix mb-4" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Enter username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter password" name="password" required>
        <button type="logsubmit" class="btn btn-primary float-right">Submit</button>
    </div>
</form>
