Login Page

<form class="clearfix mb-4">
    <div class="form-group">
        <input type="text" id="login" placeholder="Login">
        <input type="text" id="password" placeholder="Password">
        <button id="submit" class="btn btn-primary float-right">Submit</button>
    </div>
</form>