Login Page

<form class="clearfix mb-4">
    <div class="form-group">
        <input type="text" id="login" placeholder="Login">
        <input type="text" id="password" placeholder="Password">
        <button id="submit" class="btn btn-primary float-right">Submit</button>
    </div>
</form>


<a href="/"><button id="fav" class="btn btn-primary float-right">Favs</button></a>
<a href="/"><button id="home" class="btn btn-primary float-right">Home</button></a>
<a href="/login"><button id="login" class="btn btn-primary float-right">Login</button></a>
<a href="/"><button id="reg" class="btn btn-primary float-right">Register</button></a>