Login Page

<form class="login clearfix mb-4" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Enter username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter password" name="password" required>
        <button type="logsubmit" class="btn btn-primary float-right">Submit</button>
    </div>
</form>


<a href="/favs"><button id="fav" class="btn btn-primary float-right">Favs</button></a>
<a href="/"><button id="home" class="btn btn-primary float-right">Home</button></a>
<a href="/login"><button id="login" class="btn btn-primary float-right">Login</button></a>
<a href="/register"><button id="reg" class="btn btn-primary float-right">Register</button></a>
<a href="/detail"><button id="reg" class="btn btn-primary float-right">Detail</button></a>
<a href="/api/users"><button id="reg" class="btn btn-primary float-right">User API</button></a>
<a href="/api/favs"><button id="reg" class="btn btn-primary float-right">Fav API</button></a>